/* !============================================= */

/* ! Custom Fonts					   			  */ 

/* !============================================= */

@mixin font-import {

// Follow this format, y'hear: 

@font-face { 
	font-family: "Knockout32"; 
	src: font-url('knockout/knockout-32.eot');
	src: font-url('knockout/knockout-32?#iefix') format('embedded-opentype'),
		 font-url('knockout/knockout-32.woff') format('woff'), 
		 font-url('knockout/knockout-32.ttf') format('truetype'), 
		 font-url('knockout/knockout-32.svg#webfontABgg4EO0') format('svg'); }	

}



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.googleapis.com/css?family=Lato:100) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


// Import custom fonts
@include font-import;



