/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Base CSS */
// @import "project/type";
// @import "project/forms";
// @import "project/tables";
// @import "project/lists";

/* ## Components */
// @import "project/buttons";
// @import "project/dropdowns";
// @import "project/tabs";
// @import "project/modals";
// @import "project/tooltips";





// *********************************************
// Molecular Workbench Helpers
// *********************************************

.lt-text-shadow {
  text-shadow: 0 1px 0 lighten($lt-blue, 10%);
}

.drk-text-shadow {
  // text-shadow: 0 -1px 0 darken($med-blue, 25%);
  @include text-shadow(0 -1px 0 darken($med-blue, 20%));
}


.mod-border-rounded {
  border: 1px solid $black-10;
  @include border-radius(0 0 13px 13px);
}


.header-gradient {
  background-color: $lt-blue;
  background-image: -webkit-gradient(linear, left top, left bottom, from( darken($lt-blue, 10%)), to($lt-blue) ); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, darken($lt-blue, 10%), $lt-blue); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, darken($lt-blue, 10%), $lt-blue); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, darken($lt-blue, 10%), $lt-blue); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, darken($lt-blue, 10%), $lt-blue); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}



  
/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */



a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}


header,
footer {
	margin: 0 0 26px;
	// padding: 26px;
	// background-color: $lt-blue;
  @extend .header-gradient;
	color: white;
}

footer { 
  margin-bottom: 0; 
  padding: 26px;
}



// Site header
// --------------------------------

.site-logo-mod {
  @include pie-clearfix;
  padding: 13px 0;
}

.site-logo {
  width: 12%;

  img {
    max-width: 100%;
  }

  &.logo-l {
    float: left;
  }

  &.logo-r {
    float: right;
  }

}



// *********************************************
// Molecular Workbench Styles
// *********************************************


.site-width {
  width: 960px;
  margin: 0 auto;
}



.activity-mod {
  margin-bottom: 26px;
  position: relative;
  font-family: $lato-reg;
}



// Activity nav
// --------------------------------

.activity-nav-mod {
  margin: 0 0 80px;
  position: relative;
  width: 100%;
  color: #fff;
  @include pie-clearfix;

  &.fixed {
    position: fixed;
    top: 0;
    background: #fff;
    @include box-shadow(0 4px 8px rgba($black-15, 0.3) );
    padding: 6px;
    z-index: 1;
  }
}

.activity-nav-logo {
  float: left;

  img {
    max-width: 100%;
  }
}



.l-nav {
    @include ui-grid-2(20%,80%,10%);
}

.activity-nav {
  // margin: 5px auto 0;
  margin-top: 8px;
  position: relative;
  @include pie-clearfix;
  
  .prev,
  .next {
    background-color: $drk-orange;
    border: 1px solid #fff;
    @include box-shadow(0 1px 5px $black-10);
    @include border-radius(8px);
    padding: 0 30px;
    line-height: 28px;
    text-align: center;
    margin-left: 13px;
    @include trans;

    &:hover {
      background: lighten(#ffa600, 10%);
    }
    
    &:active {
      background: #6ac5d8;
      background: black;
    }

  }

  .prev {
    float: right;
    // width: 5%;
  }

  .next {
    float: right;
    // width: 5%;
  }

  .pages {
    float: right;
  }

}

.pagination {
  @include pie-clearfix;
  // width: auto;
  text-align: center;
  margin-right: 13px;
}

.pagination-item {
  margin-left: 6px;
  @include border-radius(10px);
  text-align: center;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }

  .pagination-link {
    background-color: lighten($med-blue, 27%);
    @include border-radius(6px);
    color: $med-blue;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid lighten($med-blue, 18%);
    padding: 5px 9px;
    display: block;
    @include trans;


    &:hover {
      background: lighten($med-blue, 5%);
      color: #fff;
    }

    &.selected {
      background: darken($med-blue, 12%);
      color: #fff;
      border: 1px solid darken($med-blue, 10%);
    }

  }

}



// Layout modes
// --------------------------------


// Layout: 6040
.l-6040 {
  @include pie-clearfix;

  .interactive-mod {
    width: 60%;
    float: right;
  }

  .questions-mod {
    width: 38%;
    float: left;
  }
}


// Layout: 7030
.l-7030 {
  @include pie-clearfix;

  .interactive-mod {
    width: 70%;
    float: right;
  }

  .questions-mod {
    width: 28%;
    float: left;
  }

}


// Layout: full-width

.l-full-width {
  .question-hdr {
    width: 28%;
    float: left;
  }

  .question-bd {
    width: 70%;
    float: right;
  }

  .h5 {
    &:after {
        position: absolute;
        content: "\0020";
        right: -36px;
        top: -5px;
        border: 15px solid $med-blue;
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        // z-index: -1;
      }
}

}





// Headline + Intro
// --------------------------------

// Headline block
.content-hdr {
  font-family: $lato-reg;
  margin-bottom: 26px;

  .h2 {
    font-family: $lato-light;
    font-size: 36px; 
    font-weight: 100;
    letter-spacing: -1px;
    color: $drk-orange;
    margin-bottom: 36px; 
  }
  
 
}

// Intro block
.intro-mod {
  font-size: 16px;  
  line-height: 1.45em;
  font-family: $lato-reg;
  margin-bottom: 39px;
  max-width: 75%;

 .h4 {
    font-weight: normal;
    font-size: 20px; 
    margin-bottom: 13px;
    color: $med-blue;
  }

  .intro-txt {
    // color: yellow;
  }
}




// Interactive + Questions
// --------------------------------

.content-mod {
  @include pie-clearfix;
}

.interactive-mod {
  margin-bottom: 52px;
  width: 100%;
  height: 400px;
  background: #666;
}


.questions-mod {
  margin-bottom: 52px;
}

.question {
  margin: 0 0 52px;
  @include pie-clearfix;
}

.question-hdr {
  background: $med-blue;
  position: relative;
  padding: 11px;

  .h5 {
    position: relative;
    color: #fff;
    font-size: 16px;
    color: lighten($med-blue, 30%);
    @extend .drk-text-shadow;
  }

}


.question-bd {
  padding: 26px;
  @extend .mod-border-rounded;
}

.question-txt {
  font-size: 1.25em;
}


// Sidebar
// --------------------------------
.sidebar-mod {
  width: 7%;
  position: absolute;
  right: 0;
  top: 75%;
  background: $med-blue;
  text-align: center;
  padding: 1em;
  @include border-radius(8px 0 0 8px);

  .h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 19px; 
    font-weight: normal;
  }

  &.expanded {
    text-align: left;
    width: 60%;
    background: #fff;
    background: rgba($med-blue, 0.9);
    @include box-shadow(0 5px 20px -3px $black-15);

    .sidebar-bd {
      display: block;
    }

  }
}

.sidebar-bd {
  display: none;
}




// Related module
// --------------------------------
.related-mod {
  margin-bottom: 48px;
  border-top: none;
  @extend .mod-border-rounded;
  @include pie-clearfix;
}


.related-hdr {
  background-color: $med-blue;
  color: #fff;
  font-size: 18px;
  padding: 6px 13px;
  margin-bottom: 8px;
  @include box-shadow(0 2px 5px -1px $black-15);
  @extend .drk-text-shadow; 
}

.related-bd {
  padding: 16px 26px 30px;
  @include pie-clearfix;
}

.related-items {
  @include pie-clearfix;
}

.related-item {
  width: 30%;
  margin-left: 5%;
  float: left;

  &:first-child {
    margin-left: 0;
  }

  .h6 {
    font-size: 16px;
    margin-bottom: 3px;
    color: #000;
  }

  .related-item-txt {
    font-size: 14px;
    line-height: 1.35em;

    a {
      display: block;
      padding: 5px 6px;
      background-color: $black-10;
      color: darken($med-blue, 5%);
      @include text-shadow(0 1px 0 lighten($black-10, 3%));
      width: 40%;
      @include border-radius(3px);
      margin-top: 20px;
      text-align: center;
      @include trans;

      &:hover {
        background-color: darken($black-10, 3%);
        color: darken($med-blue, 18%);
      }

    }
  }

}


.related-img {
  margin-bottom: 13px;
  width: 25%;

  img {
    max-width: 100%;
  }

}


// Activity footer
// --------------------------------
.activity-footer-mod {
  margin-bottom: 48px;

  .site-logo {
    margin: 0 auto;
  }
}






// Site Footer
// --------------------------------
footer {
  .footer-txt {
    margin-bottom: 13px;
    color: darken($lt-blue, 45%);

    @extend .lt-text-shadow;

    &:last-child {
      margin-bottom: 0;
    }

  }

}






/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "project/print";



