/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Base CSS */
// @import "project/type";
// @import "project/forms";
// @import "project/tables";     
// @import "project/lists";

/* ## Components */
// @import "project/buttons";
// @import "project/dropdowns";
// @import "project/tabs";
// @import "project/modals";
// @import "project/tooltips";


// Not pertinent to the actual website
.big-spacer { width: 100%; height: 36px; margin: 90px 0; background-color: #e5e5e5; }

.interactive-fixed { position: fixed; top: 70px; z-index: 100; width: auto; }




/* ============================================= */
/*  Universal                                    */ 
/* ============================================= */


a     {   text-decoration: none; color: inherit; }
strong  { font-weight: bold;  }
em    { font-style: italic; }


header,
footer {
  margin: 0 0 26px;
  background-color: #e5e5e5;
  color: white;
}

footer { 
  margin-bottom: 0; 
  padding: 26px;
}





// *********************************************
// Molecular Workbench Helpers
// *********************************************


// Text shadows included on various elements
@mixin drk-txt-shadow($color: $black-50) {
  @include text-shadow(0 -1px 0 darken($color, 15%));
}

@mixin lt-txt-shadow($color: #fff) {
  @include text-shadow(0 1px 0 lighten($color, 10%));
}



// Border used on questions and related-mod
.mod-border-rounded {
  border: 1px solid $black-10;
  @include border-radius(0 0 13px 13px);
}



// Clearfix
.cf { @include pie-clearfix; }



// Extra padding applied via JS when nav is in fixed position
.extra-pad { padding-top: 70px; }



// Button mixin. By default, a btn will be blue. Pass two colors into include to change color scheme
@mixin btn( $color1: lighten($btn-blue2, 5%), $color2: darken($btn-blue, 5%) ) {
  font-size: 13px;
  padding: 9px 13px;
  background: $color1;
  background-image: -webkit-linear-gradient( top, $color1, $color2);
  background-image:         linear-gradient( top, $color1, $color2);
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset,
                      rgba(0, 0, 0, 0.2) 0 1px 2px;
          box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset,
                      rgba(0, 0, 0, 0.2) 0 1px 2px;
  @include border-radius(4px);
  @include drk-txt-shadow( darken($color1, 10%) );
  border: 1px solid $color2;
  margin-top: 13px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  @include trans;
  color: #fcfcfc;

  &:hover {
    background-image: -webkit-linear-gradient( top, darken($color1, 5%), darken($color2, 10%) );
    background-image:         linear-gradient( top, darken($color1, 5%), darken($color2, 10%) );
  }

  &:active {
    @include drk-txt-shadow( darken($color1, 10%) );
    background-image: -webkit-linear-gradient( top, darken($color1, 10%), darken($color2, 5%) );
    background-image:         linear-gradient( top, darken($color1, 10%), darken($color2, 5%) );
    
  }

}




// *********************************************
// Molecular Workbench Styles
// *********************************************


// Saved feature
#save {
  padding: 6px 12px;
  width: 90px;
  text-align: center;
  position: fixed;
  z-index: 10000;
  // top: 10px;
  bottom: 20px;
  right: 20px;
  // background-color: $lt-blue;
  background-color: rgba( lighten($med-blue, 20%), 0.9 );
  border: 1px solid lighten($med-blue, 17%);
  @include border-radius(3px);
  @include trans;

  &.saved {
    // background-color: #EEE;
  }
}

// Question header sticking prototype
.question-hdr-collapse.stuck {
  position: fixed;
  z-index: 10000;
}


// Site Width
.site-width {
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
}


.activity-mod {
  margin-bottom: 26px;
  position: relative;
  font-family: $lato-reg;
}




// Site header
// --------------------------------

.site-logo-mod {
  @extend .cf;
  padding: 13px 0;
}

.site-logo {
  width: 12%;

  img {
    max-width: 100%;
  }

  &.logo-l {
    float: left;
  }

  &.logo-r {
    float: right;
  }

}





// Activity nav
// --------------------------------

.activity-nav-mod {
  margin: 0 0 40px;
  position: relative;
  width: 100%;
  color: #fff;
  @extend .cf;

  &.fixed {
    position: fixed;
    top: 0;
    background: #fff;
    @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.2) );

    // protyping a better shadow for hiding content as it scrolls
    // box-shadow: ( 0 2px 8px rgba(0, 0, 0, 0.2), 
    //               0 30px 0px #fff );

    padding: 10px 6px;
    z-index: 9999;
  }

}



.activity-nav-logo {
  float: left;

  img {
    max-width: 100%;
  }

  .h2 {
    font-family: $lato-reg;
    font-size: 18px;
    font-weight: normal;
    color: $drk-orange;
    opacity: 0;
    line-height: 36px;
    opacity: 0;
    @include trans;

    &.visible {
      opacity: 1;
    }

  }

}


// This controlls the layout of the nav
.l-nav {
    // @include ui-grid-2(18%,80%,10%);
    @include ui-grid-2(100%, 100%, 0);

    @media screen and (min-width: 1100px) {
      @include ui-grid-2(50%, 50%, 5%);
    }
    // @include ui-grid-2(50%, 50%, 5%);
}



.activity-nav {
  margin-top: 8px;
  position: relative;
  @extend .cf;
  
  .prev,
  .next {
    background-color: lighten($med-blue, 5%);
    border: 1px solid $med-blue;
    @include border-radius(3px);
    line-height: 22px;
    text-align: center;
    margin-left: 8px;
    width: 40px;
    @include trans;
    height: 24px;
    // background-image: url(../_img/next.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 48% 50%;

    // .prev-next-img {
    //   width: 40%;
    //   margin: 0 auto;

    //   img {
    //     max-width: 100%;
    //     margin-top: -1px;
    //   }

    // }

    &:hover {
      background-color: darken($med-blue, 5%);
    }
    
    &:active {
      background-color: darken($med-blue, 20%);
    }

  }

  .prev {
    float: right;
    background-image: url(../_img/prev.png);
  }

  .next {
    float: right;
    background-image: url(../_img/next.png);
  }

  .pages {
    float: left;

    @media screen and (min-width: 1100px) {
      float: right;
    }
    
  }

} // end .activity-nav



.pagination {
  @extend .cf;
  text-align: center;
  margin-right: 8px;
}


.pagination-item {
  margin-left: 6px;
  @include border-radius(10px);
  text-align: center;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }

  .pagination-link {
    background-color: lighten($med-blue, 27%);
    color: $med-blue;
    @include border-radius(3px);
    @include lt-txt-shadow(#fff);
    border: 1px solid lighten($med-blue, 18%);
    padding: 3px 5px;
    display: block;
    @include trans;

    &:hover {
      background: lighten($med-blue, 5%);
      @include drk-txt-shadow($med-blue);
      color: #fff;
    }

    &.selected {
      background: darken($med-blue, 12%);
      color: #fff;
      border: 1px solid darken($med-blue, 10%);
      @include drk-txt-shadow($med-blue);
    }


  } // end .pagination-link

  

  &.home-link {
    text-indent: -9999px;
    .pagination-link {
      background-image: url(../_img/home_blue.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: 50% 50%;
      width: 24px;
    }
  } // end .home-link


} // end .pagination-item






// Layout modes
// --------------------------------


// Layout: 6040
.l-6040 {
  @extend .cf;

  .interactive-mod {
    width: 60%;
    float: right;

    // width: 100%;

    // @media screen and (min-width: 1024px) {
    //   width: 60%;
    //   float: right;
    // }
    
  }

  .questions-mod {
    width: 30%;
    float: left;

    @media screen and (min-width: 1024px) {
      width: 33%;
    }

    @media screen and (min-width: 1100px) {
      width: 37%;
    }

    // width: 100%;

    // @media screen and (min-width: 1024px) {
    //   width: 38%;
    //   float: left;
    // } 

  }

} // end .l-6040




// Layout: 7030
.l-7030 {
  @extend .cf;

  .interactive-mod {

    width: 70%;
    float: right;

    // width: 100%;

    // @media screen and (min-width: 1024px) {
    //   width: 70%;
    //   float: right;
    // }
    
  }

  .questions-mod {

    // width: 28%;
    float: left;
    width: 21%;

    

    @media screen and (min-width: 1100px) {
      width: 27%;
    }


    // width: 100%;

    // @media screen and (min-width: 1024px) {
    //   width: 28%;
    //   float: left;
    // }
    
  }

} // end .l-7030




// Layout: full-width
.l-full-width {

  .question-hdr {
    width: 28%;
    float: left;
  }

  .question-bd {
    width: 70%;
    float: right;
  }

  .challenge {
    .h5 {
      &:after {
        border-left-color: darken($black-15, 3%);
      }
    }
  }


  .h5 {
    &:after {
      position: absolute;
      content: "\0020";
      right: -28px;
      top: -1px;
      border: 12px solid $med-blue;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      // z-index: -1;
    }
  }

} // .l-full-width






// Headline + Intro
// --------------------------------


// Headline block
.content-hdr {
  font-family: $lato-reg;
  margin-bottom: 30px;

  .h2 {
    font-family: $lato-light;
    font-size: 36px; 
    font-weight: 100;
    letter-spacing: -1px;
    color: $drk-orange;
  }
  
}



// Intro block
.intro-mod {
  font-size: 16px;  
  line-height: 1.45em;
  font-family: $lato-reg;
  margin-bottom: 39px;

 .h4 {
    font-weight: normal;
    font-size: 20px; 
    margin-bottom: 13px;
    color: $med-blue;
  }

  .intro-txt {
    max-width: 75%;
  }

}





// Sticky Interactives
// --------------------------------

.sticky-wrapper { margin-bottom: 52px; }


.l-6040,
.l-7030 {

  .interactive-mod {

    &.stuck {
      position: fixed;
      // top: 100px;
      // top: 113px;
      top: 117px;
    }

    &.bottomed {
      position: absolute;
      bottom: 0;
    }

  }

}



// .sticky-wrapper need to have hard px widths to work correctly in fixed state
.l-7030 {

  .sticky-wrapper {
    width: 672px;
    float: right;
  }

  .interactive-mod {
    width: 672px;
  }

}



.l-6040 {

  .sticky-wrapper {
    width: 576px;
    // width: 450px;
    float: right;

  }

  .interactive-mod {
    width: 576px;
    // width: 450px;

  }

}





// Interactive + Questions
// --------------------------------

.content-mod {
  @extend .cf;
  position: relative;
}


.interactive-mod {
  margin-bottom: 52px;
  width: 100%;
  // height: 400px;
  z-index: 100;
  overflow: hidden;

  img {
    max-width: 100%;
  }

}



.questions-mod {
  margin-bottom: 52px;
  position: relative;
}


.question {
  margin: 0 0 52px;
  @extend .cf;
}


.challenge {
  .question-hdr, .question-hdr-collapse {
    background: darken($black-15, 3%);

    .h5 {
      @include drk-txt-shadow($black-15);
    }
  }
  .question-bd {
    background: $black-5;
  }
} // end .challenge



.question-hdr, .question-hdr-collapse {
  background: $med-blue;
  position: relative;
  padding: 4px 8px;
  clear: both;

  .h5 {
    position: relative;
    color: #fff;
    font-size: 16px;
    @include drk-txt-shadow($med-blue);
  }

}


.question-bd {
  padding: 26px;
  @extend .mod-border-rounded;
}



// Styling typographic elements
// --------------------------------

.intro-mod,
.content-mod {
  font-size: 16px;
  line-height: 1.35em;
  ol, 
  ul, 
  dl,
  blockquote, 
  p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}


// disable extra margin on first and last paragraphs in a module
.intro-mod,
.question-bd {
  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}



// ordered lists
.intro-mod,
.content-mod {
  ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
    margin: 16px 0;

    ol, ul {
      margin: 16px 0 16px 16px;
    }

    > li {
      margin-bottom: 13px;
      position: relative;
      &:before {
        content:counter(li)".";
        counter-increment:li;
        margin-right: 8px;
        font-weight: bold;
        font-size: 0.65em;
        padding: 3px 5px;
        background-color: $black-5;
        position: relative;
        top: -2px;
        @include border-radius(2px);
      }
    }
  }
}



// unordered lists
.intro-mod,
.content-mod {
  ul {
    list-style: square;
    margin-left: 16px;

    ul, ol {
      margin: 16px 0 16px 16px;
    }

    li {
      margin-bottom: 13px;
    }
  }
}



//definition lists
.intro-mod,
.content-mod {
  dl {

  }
  dt {
    font-weight: bold;
    margin-top: 13px;
  }
  dd {
    margin-left: 16px;
  }
}


// text areas
.intro-mod,
.content-mod {
  form {
  }

  label {
    display: block;
    margin-bottom: 4px;
  }
  textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid $black-15;
    @include border-radius(8px);
  }

  em {
    display: block;
    font-size: 0.75em;
    text-align: right;
    color: $black-15;
  }
}


// radio buttons
.intro-mod,
.content-mod {
  label {
    margin-bottom: 13px;
  }
  input {
    margin-right: 8px;
  }
}




// screen shot answer
.image-answer {
  border: 3px dashed $lt-blue;
  padding: 40px;
  text-align: center;
  @include border-radius(10px);

  &.complete {
    // background-color: $med-blue;
    // border: 0;
    margin-bottom: 12px;
  }
}

.image-file {
  // padding: 20px 20px 20px 40px;
  @include border-radius(5px);
  // @include box-shadow(2px 2px 10px $btn-blue);
  background-color: #FFF;
  text-align: center;
  // background-image: url(../_img/image-complete.jpg);
  // background-repeat: no-repeat;
  // background-position: 10px center;
  img {
    max-width: 100%;
    opacity: 0.6;
    @include border-radius(5px);
  }

  p {
    margin: 0;
  }
  a {
    font-size: 11px;
    color: $btn-blue;
    text-transform: uppercase;
    float: right;
  }
}



// submit
input[type="submit"], 
button[type="submit"] {
  display: block;
  margin: 0 auto;
  // @include btn ( lighten($drk-orange, 15%), $drk-orange );
  @include btn ( lighten($btn-orange, 8%), $btn-orange2 );
  padding: 15px 30px;
  font-size: 15px;
  color: #fff;
  @include drk-txt-shadow($btn-orange);
}



// button
input[type="button"],
button[type="button"] {
  border: 0;
  @include btn;
}








// Sidebar
// --------------------------------
.sidebar-mod {
  position: fixed;
  right: -715px;
  width: 800px;
  @include trans(.4s, all, ease);
  top: 25%;
  font-family: $lato-light;
  text-align: left;
  @include border-radius(0 0 0 8px);
  // background-color: #fff;
  background-color: transparent;
  display: none;
  z-index: 200;


  &.expanded {
    right: 0;
    background-color: #fff;
    box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.3),
                0 0 0 8000px rgba(68, 68, 68, 0.1),
                0 0 0 8000px rgba(255, 255, 255, 0.7);
        -webkit-transition: 0.4s right,
                            0.85s background-color, 
                            0.20s 0.05s ease box-shadow;
                transition: 0.4s right,
                            0.85s background-color,
                            0.20s 0.05s ease box-shadow;

    .sidebar-hdr {
      position: absolute;
      left: -85px;
    }

    .sidebar-bd {
      padding: 30px;
      background-color: #fff;
      // background-color: $black-5;
      // display: block;
    }

  }

} // end sidebar-mod



.sidebar-hdr {
  cursor: pointer;
  left: 0;
  background-color: lighten($drk-orange, 5%);
  border-right: 4px solid $drk-orange;
  width: 85px;
  text-align: center;
  padding: 8px;
  float: left;
  @include border-radius(3px 0 0 3px);
  // @include trans;
  // @include trans(.2s right);


  &:hover {
    background-color: darken($drk-orange, 5%);
  }

  .h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px; 
    line-height: 1.05em;
    margin-top: 7px;
    @include drk-txt-shadow($drk-orange);
  }

  .sidebar-hdr-img {
    width: 40%;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

}



.sidebar-bd {
  padding: 30px 30px 30px 105px;
  font-family: $lato-reg;
  font-size: 16px;
  @include border-radius(0 0 0 8px);
  // display: none;
  background-color: transparent;

  .h4 {
    font-size: 24px;
    font-family: $lato-reg;
    font-weight: 400;
    margin-bottom: 14px;
  }

  .sidebar-txt {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

  }

} // end sidebar-bd



.sidebar-bd-close {
  position: absolute;
  background-color: $black-15;
  padding: 2px 6px;
  top: 16px;
  right: 32px;
  color: #fff;
  cursor: pointer;
  @include border-radius(5px);
  @include trans;

  &:hover {
    background-color: darken($black-15, 15%);
  }

}






// Related module
// --------------------------------
.related-mod {
  margin-bottom: 50px;
  margin-top: 50px;
  border-top: none;
  @extend .mod-border-rounded;
  @extend .cf;
}


.related-hdr {
  background-color: $med-blue;
  color: #fff;
  font-size: 18px;
  padding: 6px 13px;
  margin-bottom: 8px;
  @include box-shadow(0 2px 5px -1px $black-15);
  @extend .drk-text-shadow; 
}


.related-bd {
  padding: 16px 26px 30px;
  @extend .cf;
}


.related-items {
  @extend .cf;
}


.related-item {
  width: 30%;
  margin-left: 5%;
  float: left;

  &:first-child {
    margin-left: 0;
  }

  .h6 {
    font-size: 16px;
    margin-bottom: 3px;
    color: #000;
  }

  .related-item-txt {
    font-size: 14px;
    line-height: 1.35em;

    a {
      // @include btn;
      display: inline-block;
      padding: 7px 11px;
      color: lighten($btn-blue2, 40%);
      margin-top: 13px;
      background-color: lighten($btn-blue2, 2%);
      @include drk-txt-shadow($btn-blue2);
      @include trans;

      &:hover {
        background-color: darken($btn-blue2, 4%);

      }

      &:active {
        background-color: darken($btn-blue2, 10%);
      }
    }

  }

} // .related-item


.related-img {
  margin-bottom: 16px;
  width: 25%;

  img {
    max-width: 100%;
  }

}





// Image types
// --------------------------------

.content-img {

  img {
    max-width: 100%;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
  }

  figcaption {
    margin-top: 5px;
    font-size: 12px;
  }

} // .content-img



.img-reg { max-width: 60%; }

.img-inset { 
  max-width: 30%; 
  float: right;
  margin-left: 2em;
}



// img inside a question
.question-bd {

  .content-img {
    img {
      padding: 0;
      background-color: transparent;
      // border: 0;
    }
  }

  .img-reg {
    max-width: 100%;
  }

}





// Activity footer
// --------------------------------
.activity-footer-mod {
  margin-bottom: 48px;

  .site-logo {
    margin: 0 auto;
  }
}






// Site Footer
// --------------------------------
footer {
  .footer-txt {
    margin-bottom: 13px;
    color: $black-75;
    @include lt-txt-shadow(#fff);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: darken($black-75, 5%);
      font-weight: bold;
      @include trans;

      &:hover {
        color: darken($lt-blue, 55%);
      }

    }

  }

}



// Fix footer to bottom of page
// --------------------------------
// body { height: 100%; }
// html { height: 100%; }
// #container { min-height: 100%; height: 100%; position: relative; }
// footer { position: absolute; bottom: 0; width: 100%; }


// Index page
// --------------------------------

.index-mod {
  text-align: left;


  .intro-mod {
    margin-bottom: 60px;

    .intro-txt {
      font-size: 20px;
      line-height: 1.35em;
    }

  } // end intro-mod

  input[type="submit"], 
  button[type="submit"] {
    font-size: 20px;
    padding: 20px 86px;
    // margin-bottom: 24px;
    margin: 0 0 24px;
  }


  &.intro-mod {

    ul, ol {
      font-size: 20px;

      li {
        margin-bottom: 24px;

        a { 
          color: #666;
          @include trans;

          &:hover {
            color: #222;
          }

        }
      }

    }

  } // end &.intro-mod


} // end index-mod

.index-list-header {
  font-size: 18px;
  font-weight: bold;
  margin: 36px 0 20px;
  text-transform: uppercase;
  color: $med-blue;
}

.home-icon {
  width: 5%;
  margin: 60px 0 10px;
  img {
    max-width: 100%;
    opacity: 0.2;
  }
}







/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "project/print";



